html {

  box-sizing: border-box;
  --bgColorMenu : #1d1d27;
  --duration: .7s;    
  
  }
  
  html *,
  html *::before,
  html *::after {
  
  box-sizing: inherit;
  
  }

  body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
  }

  .db-heading {
    overflow: hidden;
    border-bottom: 0.2rem solid black;
  }
  h1 {
    text-transform: capitalize;
    font-size: 4rem;
    text-align: center;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.8rem;
  }

  .db-container {
    max-width: 60rem;
  }

  #root {
  
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 8vh 10vmin 10vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #ffb457;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--duration);
  }
  
  .db-menu{
    z-index: 5;
  flex-grow: 1;
  margin: 0;
  display: flex;
  /* Works well with 100% width  */
  width: 100%;
  font-size: 0.8em;
  padding: 0 2.85em;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColorMenu);
  position: fixed;
  bottom: 0;
  }
  
  
  .db-menu div.db-menu-container{
  margin: 0;
  display: flex;
  align-items:center;
  justify-content: space-around;
  width: 100%;
  max-width: 40em;
  }
  
  .db-menu-item{
  
  all: unset;
  /*flex-grow: 1;*/
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55em 0 0.85em;
  transition: transform var(--timeOut , var(--duration));
  
  }

  .item-about {
    --bgColorItem: #ff8c00;
  }
  .item-rules {
    --bgColorItem: #f54888;
  }
  .item-submit {
    --bgColorItem: #4343f5;
  }
  .item-register {
    --bgColorItem: #e0b115;
  }
  
  .db-menu-item::before{
  
  content: "";
  z-index: -1;
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color var(--duration), transform var(--duration);
  
  }
  .icon{
  fill:white;
  }
  
  .db-menu-item.active {
  
  transform: translate3d(0, -.8em , 0);
  
  }
  
  .db-menu-item.active::before{
  
  transform: scale(1);
  background-color: var(--bgColorItem);
  
  }
  
  
  
  .db-menu-border{
  
  border: none;
  left: 0;
  bottom: 99%;
  width: 10.9em;
  height: 2.4em;
  position: absolute;
  clip-path: url(#menu);
  will-change: transform;
  background-color: var(--bgColorMenu);
  transition: transform var(--timeOut , var(--duration));
  
  }
  
  .svg-container {
  width: 0;
  height: 0;
  }
  
  
  @media screen and (min-width: 50em) {
  .db-menu{
      font-size: 1.5em;
  }
  }